.navbar {
  background-image: linear-gradient(to right, theme('colors.purple-1'), theme('colors.blue-1'));
  height: 40px;
}

#telegram-btn{
  background-color: white;
  border: 0px;
  color: theme("colors.telegram-blue");
  
}

#telegram-btn:hover{
  border: 0px;
  color: theme("colors.blue-1");
  text-decoration: underline;
}

#deposit-btn{
  background-color: white;
  border: 0px;
  color: theme("colors.purple-1");
}

#deposit-btn:hover{
  border: 0px;
  color: theme("colors.purple-2");
  text-decoration: underline;
}

.modal-box{
  background-color: white;
  color: theme("colors.purple-2")
}

.input{
  background-color: white;
  margin-top: 10px;
}

#modal-submit-button{
  margin-top: 10px;
  background-color: theme("colors.purple-1");
  color: white;
  border: 0px;
}

#modal-submit-button:hover{
  background-color: theme("colors.purple-2");
}